//
   Created by Anton on 22.03.2015.

doctype html
head(lang='en')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet' type='text/css' href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='vendor/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' type='text/css' href='stylesheets/login.css')
    block styles
body
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') SP skeleton
            div.navbar-collapse
                ul.nav.navbar-nav
                    block navigation
                ul.nav.navbar-nav.navbar-right
                    if user
                        li
                            a(href='/signout') Logout
    div.container-fluid
        block content

script(type="text/javascript" src="vendor/jquery/dist/jquery.min.js")
script(type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js")
block scripts
