extends ../layout.jade

block navigation
    li
        a(href='#/') Home
    li
        a(href='#/profile') Profile

block content
    div(data-ng-view)

block scripts
    script(type="text/javascript" src="vendor/requirejs/require.js" data-main="main.js")