<h1>Profile</h1>

<form ng-submit="saveProfile()">
    <div class="form-group">
        <label>
            Username
            <input type="text" class="form-control" placeholder="Username" ng-model="user.name">
        </label>
    </div>
    <div class="form-group">
        <label>
            Email
            <input type="email" class="form-control" placeholder="Username" ng-model="user.email" readonly>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>